<!--Модальне вікно для корзини при успішному запиті на сервер-->
<div class="cart-modal-bg success-modal hiden">
  <div class="cart-modal cart-modal-success">
    <button class="cart-modal-close-btn js-modal-close">
      <svg width="22" height="22">
        <use href="./images/sprite.svg#icon-Cross_close"></use>
      </svg>
    </button>
    <img class="cart-modal-img" src="../images/modal-sucsess.png" alt>
    <h2 class="cart-modal-title mediumText">Order success</h2>
    <p class="cart-modal-desc">
      Thank you for shopping at Food Boutique. Your order has been received and
      is now being freshly prepared just for you! Get ready to indulge in
      nourishing goodness, delivered right to your doorstep. We're thrilled to
      be part of your journey to better health and happiness.
    </p>
  </div>
</div>

<div class="cart-modal-bg fail-modal hiden">
  <div class="cart-modal cart-modal-success">
    <button class="cart-modal-close-btn js-modal-close">
      <svg width="22" height="22">
        <use href="./images/sprite.svg#icon-Cross_close"></use>
      </svg>
    </button>
    <img class="cart-modal-img" src="../images/modal-fail.png" alt>
    <h2 class="cart-modal-title mediumText">Order Failed</h2>
    <p class="cart-modal-desc">
      We're sorry, but there was a problem processing your order at Food Boutique. Please check your order details and
      try again. If the problem persists, please contact our customer service. We apologize for any inconvenience and
      appreciate your understanding.
    </p>
  </div>
</div>