<header class="header">
  <div class="container header-container">
    <div class="header-logo">
      <a href="./index.html" class="header-logo-item"
        ><svg class="header-logo-icon" width="28" height="28">
          <use href="./images/sprite.svg#icon-fb-cabbage-logo"></use>
        </svg>
      </a>
      <a class="header-logo-text" href="./index.html">Food Boutique</a>
    </div>
    <div>
      <nav class="header-nav">
        <a class="header-nav-home" href="./index.html">Home</a>
        <a class="header-nav-cart" href="./cart.html">
          <svg class="header-nav-cart-icon" width="14" height="14">
            <use
              class="header-nav-cart-icon-svg"
              href="./images/sprite.svg#icon-shopping-cart"
            ></use>
          </svg>
        </a>
        <a class="header-nav-cart-item" href="./cart.html"
          >Cart (<span class="cart-number">0</span>)</a
        >
      </nav>
    </div>
  </div>
</header>
