        <div id="pagination1" class="pagination-container">
            <button class="pagination-button page" id="startBtn" disabled>
                <svg class="" width="24" height="24">
                    <use href="./images/sprite.svg#icon-left-arrow"></use>
                  </svg>
                <i class="fa-solid fa-angles-left"></i>
              </button>
              <button class="pagination-button prevNext" id="prev" disabled>
                <i class="fa-solid fa-angle-left"></i>
              </button>
          
              <div class="pagination-links">
                <a href="#" class="pagination-link active">1</a>
                <a href="#" class="pagination-link">2</a>
                <a href="#" class="pagination-link">3</a>
                <a href="#" class="pagination-link">4</a>
                <a href="#" class="pagination-link">5</a>
              </div>
          
              <button class="pagination-button page prevNext" id="next">
                <i class="fa-solid fa-angle-right"></i>
              </button>
              <button class="pagination-button" id="endBtn">
                <i class="fa-solid fa-angles-right"></i>
              </button>
        </div>