<head>
    <link rel="stylesheet" href="/src/css/pagination.css" />
</head>

<div class="pagination-container">
    <button class="button page" id="startBtn" disabled>
      <i class="fa-solid fa-angles-left"></i>
    </button>
    <button class="button page prevNext" id="prev" disabled>
      <i class="fa-solid fa-angle-left"></i>
    </button>

    <div class="links">
      <a href="#" class="link active">1</a>
      <a href="#" class="link">2</a>
      <a href="#" class="link">3</a>
      <a href="#" class="link">4</a>
      <a href="#" class="link">5</a>
    </div>

    <button class="button prevNext" id="next">
      <i class="fa-solid fa-angle-right"></i>
    </button>
    <button class="button" id="endBtn">
      <i class="fa-solid fa-angles-right"></i>
    </button>
    <script src="/src/js/pagination.js"></script>
  </div>