<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="../css/shopping-cart.css">
</head>

<body>
  
  <section class="cart">
    <div class="cart-container container">
      <!-- <h1 class="cart-title">
        <div class="cart-title-icon">
        </div>
        <div class="cart-title-text title mediumText">
          CART (<span class="cart-title-count">0</span>)
        </div>
      </h1>       -->
      <div class="cart-box">
        <div class="catr-order-wraper">
          <button class="curt-order-clear-btn mediumText">Delete all <span>X</span></button>
          <div class="catr-order js-carts">
            <!-- ▮▯⁘⁘⁘⁘⁘  Тута картки  ⁘⁘⁘⁘⁘▯▮ -->
          </div>
        </div>
        
        <div class="cart-form-wraper">
          <h2 class="cart-form-title title mediumText">Your Order</h2>
          <div class="catr-total-price">
            <p class="catr-total-price-text mediumText">
              Total
            </p>
            <p class="cart-total-price-sum">
              <span>Sum:</span>
              <span class="cart-total-price-sum-span mediumText">$12,94</span>
            </p>
          </div>
          <form class="cart-form" action="" method="get">
            <label class="cart-form-label form-label">
              <span class="cart-form-label-text label-text">Mail:</span>
              <input class="cart-form-input form-input" name="email" type="email" placeholder="Enter your email">
            </label>
            <button class="cart-form-button form-button" type="submit">Checkout</button>
          </form>          
        </div>
      </div>
    </div>    
  </section>
</body>

</html>