/*
▮▮⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘ >>  Cart modal  << ⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘▯▯
*/
.cart-modal-bg {
  position: fixed;
  top: 0;
  left: 0;

  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100%;

  background: rgba(1, 1, 1, 0.4);
}
.cart-modal {
  position: relative;
  margin: auto;
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 560px;

  border-radius: 20px;
  background: #e8e8e2;
}
.cart-modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  height: 28px;
  width: 28px;

  background-color: transparent;
}
.cart-modal-close-btn svg{
}
.cart-modal-img {
  /* margin-bottom: 15px; */

  height: 140px;
  width: 170px;
}
.cart-modal-title {
  margin-bottom: 20px;

  text-transform: uppercase;
}
.cart-modal-desc {
  text-align: center;
  opacity: 0.7;
}

/*
▮▮⁘⁘⁘⁘⁘⁘ >>  Тип картки  << ⁘⁘⁘⁘⁘⁘▯▯
*/
.cart-modal-success {
}
.cart-modal-erorr {
}

.hiden {
  display: none;
}