/*
▮▮⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘ >>  Cart modal  << ⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘▯▯
*/
.cart-modal-bg {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;

  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100%;

  background: rgba(1, 1, 1, 0.4);
}
.cart-modal {
  position: relative;
  margin: auto;
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 560px;

  border-radius: 20px;
  background: #e8e8e2;
}
.cart-modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  height: 28px;
  width: 28px;

  background-color: transparent;
}
.cart-modal-close-btn svg {
}
.success-modal .cart-modal-img {
  width: 150px;
  height: 133px;
}
.fail-modal .cart-modal-img {
  margin-bottom: 10px;
  width: 150px;
  height: 118px;
}
.cart-modal-title {
  margin-bottom: 20px;

  font-family: Neue Montreal;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 100% */
  text-transform: uppercase;
  text-align: center;
}
.cart-modal-desc {
  color: rgba(1, 1, 1, 0.7);

  text-align: center;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
}

/*
▮▮⁘⁘⁘⁘⁘⁘ >>  Тип картки  << ⁘⁘⁘⁘⁘⁘▯▯
*/
.cart-modal-success {
}
.cart-modal-erorr {
}

.hiden {
  display: none;
}
