.discount-products {
  padding: 40px 0;
  width: 335px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .discount-products {
    padding: 32px 0 50px;
    width: 704px;
  }
}

@media screen and (min-width: 1440px) {
  .discount-products {
    padding: 20px 0;
    width: 275px;
  }
}

.discount-products-list {
  color: var(--text-color);
  font-family: 'NeueMontreal-Medium';
  font-size: 24px;
  line-height: 1.16;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .discount-products-list {
    font-size: 28px;
    line-height: 1.14;
  }
}

.discount-svg {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 10px;
  top: 3px;
}

.discount-products-item {
  display: block;
}

@media screen and (min-width: 768px) {
  .discount-products-item {
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    justify-content: space-between;
    row-gap: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .discount-products-item {
    display: block;
  }
}

.discount-product {
  border-radius: 15px;
  background: #fafafa;
}

@media only screen and (max-width: 767.98px) {
  .discount-product:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 1440px) {
  .discount-product:not(:last-child) {
    margin-bottom: 20px;
  }
}

.discount-card {
  position: relative;
  padding: 16px 15px 23px 16px;
}

.discount-card {
  padding: 16px 15px 16px;
}

@media screen and (min-width: 768px) {
  .discount-card {
    padding: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .discount-card {
    height: 232px;
  }
}

.discount-img {
  width: 304px;
  height: 150px;
  object-fit: contain;
  border-radius: 10px;
  background: var(--maingray);
  margin-bottom: 16px;
}

.discount-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.discount-name,
.discount-price {
  color: var(--text-color);
  font-family: 'NeueMontreal-Medium';
  font-size: 18px;
  line-height: 1.11;
}

@media screen and (min-width: 768px) {
  .discount-name,
  .discount-price {
    font-size: 20px;
    line-height: 1.11;
  }
}

.discount-check {
  display: none;
}

.discount-buy,
.discount-check {
  width: 34px;
  height: 34px;
  padding: 8px;
  fill: var(--maingray);
  border-radius: 30px;
  background: var(--maingreen);
  margin-left: 8px;
  transition: var(--transition-settings);
}

.discount-buy:hover,
.discount-buy:focus {
  background: var(--maingreen-hower);
}
.discount-price-item {
  display: flex;
  align-items: center;
}
