.filter-input {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .filter-input {
    margin: 0;
  }
}
input {
  font-size: 18px;
}

#filterForm {
  position: relative;
  max-width: 375px;
}

@media screen and (max-width: 374.98px) {
  #filterForm {
    max-width: 280px;
  }
}

@media screen and (min-width: 768px) {
  #filterForm {
    max-width: 704px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1440px) {
  #filterForm {
    max-width: 1240px;
  }
}

.filter-text {
  color: rgba(1, 1, 1, 0.3);
  font-family: 'NeueMontreal-regular';
  font-size: 14px;
  line-height: 1, 28;
  word-wrap: break-word;
  margin-bottom: 8px;
}

.submit-button {
  position: absolute;
  background-color: transparent;
  width: 24px;
  height: 24px;
  top: 25px;
  left: 285px;
  transform: translateY(-50%);
  margin: 0 auto;
}

@media screen and (max-width: 374.98px) {
  .submit-button {
    left: 240px;
  }
}

@media screen and (min-width: 768px) {
  .submit-button {
    left: 230px;
  }
}

.filter-select,
.filter-input {
  height: 48px;
  width: 335px;
  padding: 14px 20px;
  border-color: rgba(1, 1, 1, 0.3);
  border-radius: 30px;
  background-color: transparent;
  font-family: 'NeueMontreal-regular';
  line-height: 1.28;
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
  margin-bottom: 12px;
}

@media screen and (max-width: 374.98px) {
  .filter-select,
  .filter-input {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .filter-select,
  .filter-input {
    margin: 0;
    height: 52px;
    font-size: 18px;
    line-height: 1.33;
  }
}

@media screen and (min-width: 768px) {
  .filter-input {
    width: 269px;
  }
}

.filter-input-item {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .filter-input-item {
    width: 200px;
  }
}

.filter-select.custom-select {
  max-width: 335px;
}

@media screen and (min-width: 768px) {
  .filter-select.custom-select {
    width: 189px;
  }
}

.filter-select:active {
  border-width: 1px;
}

.filter-input::placeholder {
  color: black;
  font-family: 'NeueMontreal-regular';
}

.filter-select::placeholder {
  color: black;
  font-family: 'NeueMontreal-regular';
}

/**
  |============================
  | 
  |============================
*/

.custom-select {
  position: relative;
}

.custom-select select {
  width: 100%;
  appearance: none;
  cursor: pointer;
  border-radius: 30px;
  position: relative;
  z-index: 2;
}

.custom-select::before {
  content: '\25BC';
  font-size: 12px;
  color: #555;
  position: absolute;
  top: 52%;
  left: 290px;
  transform: translateY(-50%);
  z-index: 1;
}

@media screen and (max-width: 374.98px) {
  .custom-select::before {
    left: 245px;
  }
}

@media screen and (min-width: 768px) {
  .custom-select::before {
    left: 158px;
  }
}

.filter-input:hover,
.filter-input:focus {
  background: #fff;
}
