input {
  font-size: 18px;
}

#filterForm {
  display: flex;
  position: relative;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
}

.filter-text {
  color: rgba(1, 1, 1, 0.3);
  font-family: 'NeueMontreal-regular';
  font-size: 14px;
  line-height: 18px;
  word-wrap: break-word;
  margin-bottom: 8px;
}

.submit-button {
  position: absolute;
  background-color: transparent;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 210px;
  transform: translateY(-50%);
  margin: 0 auto;
}

.filter-select,
.filter-input {
  height: 52px;
  padding: 14px 20px;
  border-color: rgba(1, 1, 1, 0.3);
  border-radius: 30px;
  background-color: transparent;
  font-family: 'NeueMontreal-regular';
  line-height: 24px;
  font-size: 18px;
  border-width: 1px;
  border-style: solid;
}

.filter-select:active {
  border-width: 1px;

}

.filter-input::placeholder {
  color: black;
  font-family: 'NeueMontreal-regular';
}


/**
  |============================
  | 
  |============================
*/

.custom-select {
  position: relative;
  width: 200px;
}

.custom-select select {
  width: 100%;
  padding: 10px;
  appearance: none;
  cursor: pointer;
  border-radius: 30px;
  position: relative;
  z-index: 2;
}

.custom-select::before {
  content: '\25BC';
  font-size: 12px;
  color: #555;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  z-index: 1; 
}
