/**
|============================
| include css partials with
| default @import url()
|============================
*/

@import url('./reset.css');
@import url('./variables.css');
@import url('./product-list.css');
@import url('./discount.css');
@import url('./popular-product.css');
@import url('./pagination.css');
@import url('./filter-select.css');
@import url('./product-list-modal.css');

@font-face {
  font-family: 'NeueMontreal-Medium';
  src: url('../fonts/NeueMontreal-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal-regular';
  src: url('../fonts/NeueMontreal-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fontspring-Quincy-Black';
  src: url('../fonts/Fontspring-DEMO-quincycf-black.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Fontspring-Quincy-Regular';
  src: url('../fonts/Quincy-CF-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

*,
*::after,
::before {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  font-family: inherit;
  display: block;
  cursor: pointer;
  border: none;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

input,
textarea {
  outline: none;
}

body {
  background: var(--maingray);
}

body.no-scroll {
  overflow: hidden;
}

/* Correct container */
.container {
  min-width: 320px;
  max-width: 428px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    min-width: 1440px;
    padding: 0 100px;
  }
}

/**
  |============================
  | HEADER Section start
  |============================
*/

.header {
  padding: 18px 0 36px;
}

@media only screen and (min-width: 768px) {
  .header {
    padding: 24px 0 58px;
  }
}

@media only screen and (min-width: 1440px) {
  .header {
    padding-bottom: 38px;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 38px;
}

@media only screen and (min-width: 768px) {
  .header-container {
    height: 48px;
  }
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo-item {
  width: 28px;
  height: 28px;
  margin-right: 8px;
}

@media only screen and (min-width: 768px) {
  .header-logo-item {
    width: 32px;
    height: 32px;
  }
}

.header-logo-icon {
  width: 100%;
  height: 100%;
}

.header-logo-text {
  color: var(--text-color);
  font-family: 'Fontspring-Quincy-Black';
  font-size: 18px;
  font-weight: 900;
  line-height: 1.11;
}

@media only screen and (max-width: 374.98px) {
  .header-logo-text {
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) {
  .header-logo-text {
    font-size: 24px;
    line-height: 1;
  }
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
}

@media only screen and (min-width: 768px) {
  .header-nav {
    height: 48px;
  }
}

.header-nav-home {
  width: 77px;
  height: 38px;
  padding: 10px 20px;
  border-radius: 30px;
  background: var(--maingreen);
  color: var(--maingray);
  font-family: 'NeueMontreal-regular';
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  margin-right: 6px;
  transition: var(--transition-settings);
}

@media only screen and (min-width: 768px) {
  .header-nav-home {
    width: 104px;
    height: 48px;
    padding: 12px 28px;
    font-size: 18px;
    line-height: 1.33;
    margin-right: 16px;
  }
}

@media only screen and (min-width: 1440px) {
  .header-nav-home {
    margin-right: 24px;
  }
}

.header-nav-home:hover,
.header-nav-home:focus {
  background: var(--maingreen-hower);
}

.header-nav-cart {
  width: 38px;
  height: 38px;
  fill: var(--maingray);
  border-radius: 30px;
  background: var(--maingreen);
  padding: 12px;
  transition: var(--transition-settings);
}

@media only screen and (min-width: 768px) {
  .header-nav-cart {
    padding: 10px;
    margin-right: 14px;
  }
}

.header-nav-cart:hover,
.header-nav-cart:focus {
  background: var(--maingreen-hower);
}

.header-nav-cart-icon {
  width: 100%;
  height: 100%;
}

.header-nav-cart-item {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header-nav-cart-item {
    height: 38px;
    padding: 7px 0;
    display: block;
    color: var(--text-color);
    font-family: 'NeueMontreal-regular';
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
    text-transform: uppercase;
  }
}

/**
  |============================
  | HEADER Section ending
  |============================
/




/**
  |============================
  | HERO Section start
  |============================
*/

.hero-section {
  padding-top: 36px;
  padding-bottom: 37px;
}
@media only screen and (min-width: 768px) {
  .hero-section {
    padding-top: 58px;
  }
}

@media only screen and (min-width: 1440px) {
  .hero-section {
    padding-top: 38.5px;
  }
}
.hero-text {
  text-align: center;
  padding-bottom: 32px;
  font-style: normal;
}
.accent-food {
  color: var(--maingreen);
}
.hero-main-text {
  padding-bottom: 16px;
  /* padding-top: 58px; */
  font-size: 44px;
  font-weight: 500;
  font-family: 'NeueMontreal-regular';
  letter-spacing: -1.6px;
  color: #010101;
  margin-left: 55px;
  margin-right: 55px;
  text-align: center;
  font-style: normal;
}
.hero-second-text {
  color: rgba(1, 1, 1, 0.8);
  font-family: 'NeueMontreal-regular';
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding-left: 41.5px;
  padding-right: 41.5px;
}
@media only screen and (min-width: 768px) {
  .hero-text {
    padding-bottom: 40px;
  }
  .hero-main-text {
    font-size: 80px;
    line-height: 80px;
    padding-bottom: 20px;
  }
  .hero-second-text {
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    padding-left: 138px;
    padding-right: 138px;
  }
}

@media only screen and (min-width: 1440px) {
  .hero-second-text {
    padding-left: 374px;
    padding-right: 374px;
  }
}
/* Hero Images */

.hero-img-cont {
  /* margin-left: 20px;
  margin-right: 20px; */
  position: relative;
  border-radius: 30px;
  background: url(../images/hero-image-mobile@1x-min.jpg);
  height: 480px;
  flex-grow: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* .heroimg {
  border-radius: 30px;
  background: url(../images/hero-image-mobile@1x-min.jpg);
  height: 480px;
} */
.hero-logo-icon {
  position: absolute;
  width: 100px;
  height: 100px;
  right: 8px;
  top: -7px;
}

@media only screen and (min-width: 768px) {
  .hero-img-cont {
    background: url(../images/hero-image-tablet@1x-min.jpg);
    border-radius: 60px;
    height: 580px;
  }
  .hero-logo-icon {
    right: 10px;
    top: -30px;
  }
}

@media only screen and (min-width: 1440px) {
  .hero-img-cont {
    background: url(../images/hero-image-desktop@1x-min.jpg);
    background-repeat: no-repeat;
    border-radius: 60px;
    height: 350px;
  }
  .hero-logo-icon {
    right: 20px;
    top: -50px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
  /* For 2x retina displays */
  .hero-img-cont {
    background-image: url(../images/hero-image-mobile@2x-min.jpg);
    background-size: cover;
  }
}

/* ... (similar modifications for tablet and desktop sizes) */

@media only screen and (min-width: 768px) {
  .hero-img-cont {
    background: url(../images/hero-image-tablet@1x-min.jpg);
    border-radius: 60px;
    height: 580px;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
    /* For 2x retina displays */
    .hero-img-cont {
      background-image: url(../images/hero-image-tablet@2x-min.jpg);
      background-size: cover;
    }
  }
  /* ... */
}

@media only screen and (min-width: 1440px) {
  .hero-img-cont {
    background: url(../images/hero-image-desktop@1x-min.jpg);
    background-repeat: no-repeat;
    border-radius: 60px;
    height: 350px;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
    /* For 2x retina displays */
    .hero-img-cont {
      background-image: url(../images/hero-image-desktop@2x-min.jpg);
      background-size: cover;
    }
  }
  /* ... */
}
/*
  |============================
  | HERO Section ending
  |============================
*/

/**
  |============================
  | FOOTER Section start
  |============================
*/
.footer {
  color: var(--maingray);

  background-color: var(--maingreen);
}
.footer-content {
  padding-top: 40px;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .footer-content {
    padding-top: 44px;
  }
}
.footer-content-block {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .footer-content-block {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1440px) {
  .footer-content-block {
    margin-bottom: 88px;
  }
}

.footer-logo-social {
  margin-bottom: 40px;
}
.footer-logo {
  margin-bottom: 20px;
}
.footer-logo-link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.footer-logo-text {
  font-family: 'Fontspring-Quincy-Black';
  font-size: 18px;
  font-weight: 900;
  line-height: 20px; /* 111.111% */
  letter-spacing: -0.36px;
}
@media screen and (min-width: 768px) {
  .footer-logo-text {
    font-size: 24px;
    line-height: 24px; /* 100% */
    letter-spacing: -0.48px;
  }
}
.footer-social-links-box {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  gap: 12px;
}
.footer-social-links {
  display: flex;
  width: 40px;
  height: 40px;

  justify-content: center;
  align-items: center;

  border: var(--border);
  border-radius: 10px;
  transition: var(--transition-settings);
}
.footer-social-links:hover,
.footer-social-links:focus {
  background-color: rgba(232, 232, 226, 0.3);
}
.footer-svg {
  fill: rgba(232, 232, 226, 0.6);
  transition: var(--transition-settings);
}
.footer-svg:hover,
.footer-svg:focus {
  fill: var(--maingray);
}
@media screen and (min-width: 1440px) {
  .footer-slogan-form {
    width: 800px;
    display: flex;
    justify-content: space-between;
  }
}
.footer-slogan {
  max-width: 335px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .footer-slogan {
    max-width: 410px;
  }
}
.footer-slogan-title {
  font-family: 'NeueMontreal-Medium';
  margin-bottom: 14px;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px; /* 116.667% */
  letter-spacing: -0.48px;
}
@media screen and (min-width: 768px) {
  .footer-slogan-title {
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 44px; /* 110% */
    letter-spacing: -0.8px;
  }
}
.footer-slogan-text {
  color: rgba(232, 232, 226, 0.6);

  padding-right: 34px;

  font-family: 'NeueMontreal-regular';
  font-size: 14px;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
}
@media screen and (min-width: 768px) {
  .footer-slogan-text {
    font-size: 18px;
    line-height: 24px; /* 133.333% */
  }
}
@media screen and (min-width: 1440px) {
  .footer-form-box {
    width: 280px;
  }
}
.footer-subscribe-text {
  font-family: 'NeueMontreal-regular';
  font-size: 14px;

  font-weight: 400;
  line-height: 18px; /* 128.571% */
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .footer-subscribe-text {
    font-size: 18px;
    line-height: 24px; /* 133.333% */
  }
}
.footer-form-input {
  padding: 12px 18px;
  border-radius: 30px;
  border: var(--border);
  background-color: transparent;
  color: rgba(232, 232, 226, 0.3);
  margin-bottom: 14px;
  width: 100%;
  transition: var(--transition-settings);
}
.footer-form-input::placeholder {
  color: rgba(232, 232, 226, 0.6);
  font-family: 'NeueMontreal-regular';
  font-size: 14px;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  transition: var(--transition-settings);
}
@media screen and (min-width: 768px) {
  .footer-form-input::placeholder {
    font-size: 16px;
    line-height: 24px; /* 150% */
  }
}
.footer-form-input:hover,
.footer-form-input:focus,
.footer-form-input:hover::placeholder,
.footer-form-input:focus::placeholder {
  border-color: var(--maingray);
  color: var(--maingray);
}
.footer-form-button {
  color: var(--maingreen);

  display: flex;
  width: 100%;
  padding: 12px 100px;

  justify-content: center;
  border-radius: 30px;
  background: var(--maingray);

  font-size: 14px;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  transition: var(--transition-settings);
}
@media screen and (min-width: 768px) {
  .footer-form-button {
    font-size: 16px;
    line-height: 24px; /* 150% */
  }
}
.footer-form-button:hover,
.footer-form-button:focus {
  color: var(--text-color);
}
.footer-loader {
  font-family: 'NeueMontreal-regular';
  font-size: 14px;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
}
@media screen and (min-width: 768px) {
  .footer-loader {
    display: flex;
    justify-content: space-between;
  }
}
.footer-block-text {
  margin-bottom: 8px;
}
/**
  |============================
  | FOOTER Section end
  |============================
*/

/**
  |============================
  | Modal Section start
  |============================
*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);
  backdrop-filter: blur(1px);

  transition: opacity var(--animation), visibility var(--animation);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 72px 24px 24px 24px;

  background-color: var(--maingray);
  transform: translate(-50%, -50%);
  min-width: 320px;
  max-width: 600px;
  min-height: 276px;
  border-radius: 20px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform var(--animation);
}

.modal-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  fill: var(--maingreen);
  transition: background-color var(--animation);
  border: var(--animation);
}

.modal-btn-icon {
  transition: fill var(--animation);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--maingreen-hower);
  border: none;
  fill: var(--maingray);
}
/**
  |============================
  | Modal Section end
  |============================
*/

/* GRID starts*/
.filter {
  padding-top: 37px;
  padding-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .filter {
    padding-bottom: 30px;
  }
}

/* .popular-product {
  padding-top: 40px;
} */
.discount-products {
  padding-bottom: 80px;
}

@media only screen and (min-width: 1440px) {
  .main-adapt {
    display: flex;
  }
}
/* GRID ends */

/**
  |============================
  | Loader starts 
  |============================
*/

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  width: 201px;
  height: 201px;
  display: inline-block;
  overflow: hidden;
  background: none;
  position: relative;
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.loader div {
  position: absolute;
  animation: loader 1s linear infinite;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  box-shadow: 0 10px 0 0 var(--maingreen);
  transform-origin: 80px 80px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/**
    |============================
    | Loader ends
    |============================
  */

.js-buy-btn img {
  pointer-events: none;
}
