/**
|============================
| include css partials with
| default @import url()
|============================
*/

@import url('./reset.css');
@import url('./variables.css');
@import url('./product-list.css');

@font-face {
  font-family: 'NeueMontreal-Medium';
  src: url('../fonts/NeueMontreal-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal-regular';
  src: url('../fonts/NeueMontreal-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fontspring-Quincy-Black';
  src: url('../fonts/Fontspring-DEMO-quincycf-black.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Fontspring-Quincy-Regular';
  src: url('../fonts/Quincy-CF-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

*,
*::after,
::before {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  font-family: inherit;
  display: block;
  cursor: pointer;
  border: none;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

input,
textarea {
  outline: none;
}

.container {
  /* width: 1240px; */
  margin: 0 auto;
}

body {
  background: var(--maingray);
}


/* Correct container */
.container {
  min-width: 320px;
  max-width: 428px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    min-width: 1158px;
    padding: 0 100px;
  }
}


/**
  |============================
  | HEADER Section start
  |============================
*/

.header {
  padding: 18px 0 36px;
}

@media only screen and (min-width: 768px) {
  .header {
    padding: 24px 0 58px;
  }
}

@media only screen and (min-width: 1240px) {
  .header {
    padding-bottom: 38px;
  }
}

.header-container {
  min-width: 335px;
  width: 375px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 38px;
}

@media only screen and (min-width: 768px) {
  .header-container {
    width: 768px;
    padding: 0 32px;
    height: 48px;
  }
}

@media only screen and (min-width: 1240px) {
  .header-container {
    width: 1240px;
    padding: 0 100px;
  }
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.header-logo-item {
  width: 28px;
  height: 28px;
}

@media only screen and (min-width: 768px) {
  .header-logo-item {
    width: 32px;
    height: 32px;
  }
}

.header-logo-icon {
  width: 100%;
  height: 100%;
}

.header-logo-text {
  color: #010101;
  font-family: 'Fontspring-Quincy-Black';
  font-size: 18px;
  font-weight: 900;
  line-height: 1.11;
  /* letter-spacing: -0.02em; */
}

@media only screen and (min-width: 768px) {
  .header-logo-text {
    font-size: 24px;
    line-height: 1;
  }
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-home-list {
  margin-right: 6px;
  padding: 10px 20px;
  border-radius: 30px;
  background: var(--maingreen);
  color: var(--maingray);
  font-family: 'NeueMontreal-regular';
  font-size: 18px;
  font-weight: 500;
  line-height: 1.28;
}

@media only screen and (min-width: 768px) {
  .header-nav-home-list {
    margin-right: 16px;
    padding: 12px 28px;
    font-size: 18px;
    line-height: 1.33;
  }
}

@media only screen and (min-width: 1240px) {
  .header-nav-home-list {
    margin-right: 24px;
  }
}

.header-nav-cart-list {
  height: 38px;
  border-radius: 30px;
  background: var(--maingreen);
  padding: 12px;
  transition: var(--transition-settings);
}

@media only screen and (min-width: 768px) {
  .header-nav-cart-list {
    padding: 10px;
    margin-right: 14px;
  }
}

.header-nav-cart-list:hover,
.header-nav-cart-list:focus {
  background: var(--maingreen-hower);
}

.header-nav-cart {
  fill: var(--maingray);
}

@media only screen and (min-width: 768px) {
  .header-nav-cart-link {
    width: 18px;
    height: 18px;
  }
}

.header-nav-cart-item {
  display: none;
  color: #010101;
  font-family: 'NeueMontreal-regular';
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .header-nav-cart-item {
    display: block;
  }
}

/**
  |============================
  | HEADER Section ending
  |============================
/




/**
  |============================
  | HERO Section start
  |============================
*/

.hero {
  min-width: 375px;
  width: 375px;
}
.hero-text {
  text-align: center;
  padding-bottom: 32px;
  font-style: normal;
}
.accent-food {
  color: #6d8434;
}
.hero-main-text {
  padding-bottom: 20px;
  padding-top: 58px;
  font-size: 44px;
  font-weight: 500;
  font-family: Neue Montreal;
  letter-spacing: -1.6px;
  color: #010101;
  margin-left: 55px;
  margin-right: 55px;
}
.hero-second-text {
  color: rgba(1, 1, 1, 0.8);
  font-family: Neue Montreal;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-left: 41.5px;
  margin-right: 41.5px;
}
.hero-img-cont {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}
.hero-img {
  border-radius: 30px;
}
.hero-logo-icon {
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
}

/*
  |============================
  | HERO Section ending
  |============================
*/

/**
  |============================
  | FOOTER Section start
  |============================
*/
.container {
  min-width: 375px;
}
.footer-content {
  color: #e8e8e2;

  padding-top: 40px;
  padding-left: 20px;
  background: #6d8434;
}
.footer-logo {
  max-width: 154px;
  margin-bottom: 20px;
}
.footer-logo-link {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  width: 162px;
  font-size: 18px;
  font-weight: 900;
  line-height: 20px; /* 111.111% */
  letter-spacing: -0.36px;
}
.footer-logo-icon {
}
.footer-logo-text {
}
.footer-social-links-box {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 40px;
  /* display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 40px; */
}
.footer-social-links-item {
}
.footer-social-links {
  display: flex;
  width: 40px;
  height: 40px;

  justify-content: center;
  align-items: center;

  border: 1px solid rgba(232, 232, 226, 0.3);
  border-radius: 10px;
  /* padding: 8px; */
}
.fotter-svg {
  fill: rgba(232, 232, 226, 0.7);
}
.footer-slogan {
  max-width: 335px;
  margin-bottom: 80px;
}
.footer-slogan-title {
  margin-bottom: 14px;
}
.footer-slogan-text {
  color: rgba(232, 232, 226, 0.7);

  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
}
.footer-form-box {
}
.footer-subscribe-text {
  color: #e8e8e2;

  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  margin-bottom: 20px;
}
.subscription-form {
  /* display: flex;
  padding: 12px 284px 12px 18px;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  border: 1px solid #e8e8e2; */
}
.footer-form-input {
  display: flex;
  padding-top: 12px;
  padding-right: auto;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  border: 1px solid #e8e8e2;
  background-color: transparent;
  color: rgba(232, 232, 226, 0.6);
  margin-bottom: 14px;
  /* width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color var(--animation);
  font-size: 18px; */
}
.footer-form-button {
  display: flex;
  width: 335px;
  padding: 12px 149px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 30px;
  background: #e8e8e2;
}
.footer-loader {
}
.back-to-top {
}

/**
  |============================
  | FOOTER Section end
  |============================
*/
