/**
|============================
| include css partials with
| default @import url()
|============================
*/

@import url('./reset.css');
@import url('./variables.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./filters.css');
@import url('./cards.css');
@import url('./aditional-products.css');
@import url('./footer.css');
@import url('./shopping-cart.css');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

*,
*::after,
::before {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  font-family: inherit;
  display: block;
  cursor: pointer;
  border: none;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

input,
textarea {
  outline: none;
}

.container {
  width: 1240px;
  margin: 0 auto;
}

body {
  background: #E8E8E2;
}