:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

*,
*::after,
::before {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  font-family: inherit;
  display: block;
  cursor: pointer;
  border: none;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}


.container {
  margin: 0 auto;
}

body {
  background: #E8E8E2;
}

.pagination-container {
  min-width: 375px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links {
  margin-left: 8px;
  margin-right: 8px;
}
@media only screen and (min-width: 768px) {
  .links {
    margin-left: 32px;
    margin-right: 32px;
  }
}

body,
.container,
.button,
.links,
.link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  align-items: center;
  justify-content: center;
}

.button {
  border: 1px;
  background-color: #fff;
  border-radius: 60px;
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
}


.button,
.button i {
  pointer-events: none;
  border: 1px;
  border-radius: 60px;
}

.button:disabled {
  color: #A3A3A34D;
  pointer-events: none;
}

.button,
.link {
  height: 40px;
  width: 40px;
  font-size: 20px;
  color: #A3A3A3;
  background-color: #E8E8E2;
  border-radius: 60px;
  cursor: pointer;
  gap: 8px;
}

.button {
  background-color: #FAFAFA;
  margin-left: 4;
}


.link {
  font-weight: 500;
  text-decoration: none;
}

.button:hover,
.link:hover {
  color: #fff;
  background: #6D8434;
}

.link.active {
  color: #fff;
  background: #6D8434;
}


