.popular-product-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.popular-product-item {
  display: flex;
  width: 335px;
  /* height: 98px; */
  padding: 12px 10px 12px 12px;

  border-radius: 10px;
  background: #fafafa;
}

.popular-product-pic {
  width: 56px;
  height: 56px;
  border-radius: 10px;
  background: #e8e8e2;
}

.popular-product-title {
  color: #010101;

  font-family: Neue Montreal;
  font-weight: 500;
  font-style: normal;
  font-size: 28px;
  line-height: 1.14;
  margin-bottom: 20px;
}

.popular-product-info {
  display: flex;
    flex-direction: column;
    padding-left: 12px;
}


.info-item {
  font-family: Neue Montreal;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
}
.info-item-description {
  display: flex;
  align-items: baseline;
  gap: 9px;
  flex-wrap: wrap;
font-family: Neue Montreal;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 1.17; /* 116.667% */
}
.info-title {
  font-family: Neue Montreal;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 1.17; /* 116.667% */
}
.popular-product-name {
 

  font-family: Neue Montreal;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.11; 
 
 
}
.koshik {
  fill: var(--maingreen);
  
}

.buy-btn {
  display: flex;
  
}
