.popular-product {
  padding-bottom: 40px;
  width: 335px;
}
@media screen and (min-width: 768px) {
  .popular-product {
    padding: 50px  0 32px;
   
    
  }
}


.popular-product-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
/* @media screen and (min-width: 768px) {
  .popular-product-list{
    
   

  }
} */



.popular-product-item {
  display: flex;
  padding: 12px 10px 12px 12px;

  border-radius: 10px;
  background: #fafafa;
}


.popular-product-pic {
  width: 56px;
  height: 56px;
  border-radius: 10px;
  background: var(--maingray);
}

.popular-product-title {
  color: var(--text-color);
  font-family: 'NeueMontreal-Medium';
  font-weight: 500;
  font-style: normal;
  font-size: 28px;
  line-height: 1.14;
  margin-bottom: 20px;
}

.popular-product-info {
  /* display: flex;
  flex-direction: column; */
  padding-left: 12px;

}

.info-item {
  color: var(--text-color);
  font-family: 'NeueMontreal-Medium';
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
}
.info-item-description {
  display: flex;
  align-items: baseline;
  gap: 9px;
  flex-wrap: wrap;
  /* font-family: 'NeueMontreal-regular';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17; 116.667% */
}
.info-title,
.info-item-description {
  font-family: 'NeueMontreal-regular';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
}
.popular-product-name {
  font-family: 'NeueMontreal-Medium';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.11;
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .popular-product-name {
    margin-bottom: 10px;
  }
}
/* .popular-btn {
  display: inline-flex;
  justify-content: center;
  
  
} */
.koshik-svg {
  
  
  fill: var(--maingreen);
}



.popular-buy {
  
  padding: 4px;
  gap: 10px;
  width: 20px;
  height: 20px;
  border-radius: 30px;
  background: var(--maingray);
  
}
