.popular-product {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 335px;
}
@media screen and (min-width: 768px) {
  .popular-product {
    padding: 50px 0 32px;
  }
}
@media screen and (min-width: 1440px) {
  .popular-product {
    padding-top: 0;
    padding-bottom: 20px;
  }
}
.popular-product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

@media screen and (min-width: 768px) {
  .popular-product-list {
    width: 663px;
    
    gap: 13px;
  }
}
@media screen and (min-width: 1440px) {
  .popular-product-list {
     flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .popular-product-container{
    width: 563px;
      margin-left: 0;
      justify-content: flex-start;
      display: flex;
  }
}

.popular-product-title {
  color: var(--text-color);
  font-family: 'NeueMontreal-Medium';
  font-weight: 500;
  font-style: normal;
  font-size: 28px;
  line-height: 1.14;
  margin-bottom: 20px;
}
@media screen and (min-width: 1440) {
  .popular-product-title {
    margin: 0;
  }
}

.popular-product-item {
  display: flex;
  padding: 12px;

  border-radius: 10px;
  background: #fafafa;
}

@media screen and (min-width: 768px) {
  .popular-product-item {
    width: calc((100% - 13px)/2);
  }
}
@media screen and (min-width: 1440px) {
  .popular-product-item {
    padding-bottom: 20px;
  }
 
}

.popular-product-pic {
  
  width: 74px;
  height: 74px;
  display: flex;
  align-items: center;
  padding: 9px;
  border-radius: 10px;
  background: var(--maingray);
}



.popular-product-info {
  /* display: flex;
  flex-direction: column; */
  padding-left: 12px;
}

.info-item {
  color: var(--text-color);
  font-family: 'NeueMontreal-Medium';
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
}
.info-item-description {
  display: flex;
  align-items: baseline;
  gap: 9px;
  flex-wrap: wrap;
  /* font-family: 'NeueMontreal-regular';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17; 116.667% */
}

.info-title {
  color: var(--passive-text-color);
}
.info-title,
.info-item-description {
  font-family: 'NeueMontreal-regular';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
}
.popular-product-name {
  font-family: 'NeueMontreal-Medium';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.11;
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .popular-product-name {
    margin-bottom: 10px;
  }
}


.popular-buy {
  width: 20px;
  height: 20px;
  padding: 4px;
  border-radius: 30px;
  background: var(--maingray);
  transition: var(--transition-settings);
}
.popular-buy:hover,
.popular-buy:focus {
  background: var(--maingreen);
}

.img-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--maingreen);
  transition: var(--transition-settings);
}

.img-icon:hover,
.img-icon:focus {
fill: var(--maingray);
}