/* Global style */
.header-three {
  color: var(--text-color);
  font-family: 'NeueMontreal-medium';
  font-size: 18px;
  line-height: 1.11;
}
@media screen and (min-width: 768px) {
  .header-three {
    font-size: 20px;
    line-height: 1.2;
  }
}

.regular-text {
  font-family: 'NeueMontreal-regular';
  font-size: 12px;
}

/* Product-list style */
.product-list {
  margin: 0px auto;
  padding: 20px 0;
}
@media screen and (min-width: 768px) {
  .product-list {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .product-list {
    margin-right: 40px;
    padding: 30px 0;
    width: 924px;
    gap: 40px 20px;
  }
}

.all-product-card {
  width: 100vw;
  max-width: 336px;    
  padding: 20px;
  border-radius: 20px;
  background: var(--mainwhite);
  position: relative;  
}
@media screen and (max-width: 767.9px) {
  .all-product-card {
    margin-left: auto;
    margin-right: auto;
  }
  .all-product-card:not(:last-of-type) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .all-product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    flex-basis: calc((100% - 34px) / 2);
  }
}
@media screen and (min-width: 1440px) {
  .all-product-card {
    flex-basis: calc((100% - 40px) / 3);
  }
}

.all-product-pic {
  padding: 20px 78px;
  border-radius: 10px;
  background: var(--maingray);
  margin-bottom: 20px;
}
@media screen and (min-width: 1440px) {
  .all-product-pic {
    padding: 20px 58px;
  }
}

.all-discount-svg {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 10px;
  top: 4px;
}

.all-product-name {
  margin-bottom: 10px;
}

.all-product-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 8px;
}

.all-info-title {
  color: var(--passive-text-color);
  margin-right: 4px;
}

.all-product-desc{
  color: var(--more-passive-text-color);
  font-family: 'NeueMontreal-regular';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  margin-top: 20px;
}

.all-purchaise-box {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767.9px) {
.all-purchaise-box {
  margin-top: 40px;
  }
}

.all-product-price {
  align-self: flex-end;
}

.all-product-btn {
  padding: 8px;
  fill: var(--maingray);
  border-radius: 30px;
  background: var(--maingreen);
  transition: var(--transition-settings);
}

.all-product-btn:hover,
.all-product-btn:focus {
  background: var(--maingreen-hower);
}

.all-buy-svg {
  width: 18px;
  height: 18px;
}

/* Product search error style */
.product-search-error {
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
}
@media screen and (min-width: 768px) {
  .product-search-error {
  padding-top: 100px;
  }
}
@media screen and (min-width: 1440px) {
  .product-search-error {
  padding-top: 140px;
  }
}

.product-search-title{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 260px;
  margin-bottom: 14px;
}
@media screen and (min-width: 768px) {
  .product-search-title {
  width: 370px;
  }
}

.product-search-link{
  color: var(--maingreen);
}

.product-search-text{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--more-passive-text-color);
  font-size: 14px;
  line-height: 1.28;
  width: 280px;
  padding-bottom: 140px;
}
@media screen and (min-width: 768px) {
  .product-search-text {
    width: 370px;
    font-size: 18px;
    line-height: 1.33;
    padding-bottom: 230px;
  }
}

.btn-check {
  display: none;
}
