body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.cart-section {
  flex: 1;
  padding-bottom: 100px;
}

/**
  |============================
  | Заголовок верхній блок / початок
  |============================
*/

/* cart-title */
.cart-title {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  text-transform: uppercase;
  margin-bottom: 72px;
  margin-top: 36px;
  font-family: 'NeueMontreal-Medium';
  color: var(--text-color);
}

@media only screen and (min-width: 768px) {
  .cart-title {
    font-size: 32px;
    margin-bottom: 88px;
    margin-top: 41px;
  }
}

@media only screen and (min-width: 1440px) {
  .cart-title {
    margin-top: 41px;
    margin-bottom: 150px;
  }
}

/* cart-icon */
.cart-icon {
  justify-content: center;
  align-items: center;
  fill: var(--maingray);
  background-color: var(--maingreen);
  border-radius: 30px;
  width: 38px;
  height: 38px;
  padding: 10px;
  margin-right: 14px;
}

@media only screen and (min-width: 768px) {
  .cart-icon {
    width: 42px;
    height: 42px;
    padding: 12px;
  }
}

/**
  |============================
  | Заголовок верхній блок / кінець
  |============================
*/

/**
  |============================
  | Пустий кошик стилі / початок
  |============================
*/

.empty-cart {
  display: flex;
  visibility: visible;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
}

.empty-cart-img {
  margin-top: 12px;
  margin-bottom: 28px;
  width: 132px;
  height: 114px;
}
.empty-cart-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  margin-bottom: 14px;
}

.change-color {
  color: var(--maingreen);
  font-weight: 500;
  line-height: 1.11;
}
.empty-cart-text {
  color: rgba(1, 1, 1, 0.7);
  width: 279px;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .empty-cart-image {
    width: 164px;
    height: 140px;
    margin-bottom: 40px;
    margin-top: 42px;
  }
  .empty-cart-text {
    width: 387px;
  }
}

@media only screen and (min-width: 1440px) {
  .empty-cart-image {
    margin-top: 80px;
  }
  .empty-cart {
    margin-bottom: 150px;
  }
}

/**
  |============================
  | Пустий кошик стилі / кінець
  |============================
*/

/**
  |============================
  | Повний кошик стилі / початок
  |============================
*/
/*
▮▮▯▯⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘   Cart bottom   ⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘▯▯▮▮
*/
.cart-box {
  display: flex;
  gap: 4%;
}
@media screen and (max-width: 1440px) {
  .cart-box {
    display: block;
  }
}
/*
▮▮▯▯⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘   Order list   ⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘▯▯▮▮
*/
.cart-order-wraper {
  position: relative;
  width: 48%;
}
@media screen and (max-width: 1440px) {
  .cart-order-wraper {
    width: 100%;
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 400px) {
  .cart-order-wraper {
    margin-bottom: 80px;
  }
}
.cart-order-clear-btn {
  position: absolute;
  right: 0px;
  top: -40px;

  margin-right: 15px;

  display: flex;
  align-items: center;
  gap: 8px;

  background-color: transparent;
  border-color: transparent;
  cursor: pointer;

  font-size: 16px;
  font-weight: 500;
}
@media only screen and (min-width: 768px) {
  .cart-order-clear-btn {
    right: 58px;
  }
}
.cart-order-container {
  position: relative;
  padding-right: 7px;
  /* margin-right: 15px; */
  width: 100%;
  max-height: 520px;
  min-height: 360px;
  /* overflow-x: hidden; */
  overflow: auto;
  /* overflow-y: scroll; */
  scroll-behavior: smooth;
  /* background-color: #887f5d88; */
}
@media only screen and (min-width: 768px) {
  .cart-order-container {
    padding-right: 35px;
  }
}
/* Стилізація скролбара */
.cart-order-container::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

/* Стилізація кнопки скролбара */
.cart-order-container::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: rgba(1, 1, 1, 0.08);
}

/* Стилізація кнопки скролбара при наведенні */
.cart-order-container::-webkit-scrollbar-thumb:hover {
  background: rgba(1, 1, 1, 0.11);
}

/*
▮▮▯▯⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘   cart-form   ⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘⁘▯▯▮▮
*/
.cart-form-wraper {
  width: 48%;
}
@media screen and (max-width: 1440px) {
  .cart-form-wraper {
    width: 100%;
    max-width: 590px;
  }
}
.cart-form-title {
  margin-bottom: 40px;
  text-transform: uppercase;
}
.cart-total-price {
  height: 60px;
  padding: 14px 28px;
  margin-bottom: 40px;

  display: flex;
  align-items: end;
  justify-content: space-between;
  flex-grow: 1;

  border-radius: 8px;
  background: rgba(109, 132, 52, 0.05);
}
@media screen and (max-width: 400px) {
  .cart-total-price {
    margin-bottom: 30px;
  }
}
.cart-total-price-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
.cart-total-price-sum {
  color: rgba(1, 1, 1, 0.2);
  font-size: 12px;
}
.cart-total-price-sum-span {
  color: var(--text-color);
  font-size: 32px;
  font-weight: 500;
}

.cart-form {
  width: 100%;
  display: block;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .cart-form {
    display: flex;
    width: 100%;
  }
}
.cart-form-label {
  position: relative;
  flex: 1 1 auto;
}
.cart-form-label-text {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-45%);

  color: var(--passive-text-color);
}
.cart-form-input {
  position: relative;
  padding: 15px 20px;
  padding-left: 64px;

  width: 100%;

  background-color: transparent;
  border-radius: 30px;
  border: 1px solid rgba(1, 1, 1, 0.3);

  color: var(--text-color);
  font-size: 18px;
}
.cart-form-input::placeholder {
  color: var(--text-color);
  font-size: 18px;
  line-height: 24px;
}
.cart-form-input:focus,
.cart-form-input:active,
.cart-form-input:valid {
  border-color: #6d8434;
}
.cart-form-button {
  margin-top: 14px;
  padding: 15px 25px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  flex-grow: 1;

  border-radius: 30px;
  border-color: transparent;
  background: #6d8434;
  cursor: pointer;

  color: #e8e8e2;
  font-size: 20px;
  font-weight: 500;

  transition: background var(--transition-settings);
}
@media screen and (min-width: 768px) {
  .cart-form-button {
    margin: 0;
    max-width: 214px;
  }
}
.cart-form-button:hover {
  background: #586f1f;
}

/* .form-label {
}
.label-text {
}
.form-input {
}
.form-button {
} */
/**
  |============================
  | Повний кошик стилі / кінець
  |============================
*/

/**
  |============================
  | Стилі карток товарів / початок
  |============================
*/
.product-info {
  font-family: 'NeueMontreal-Medium';
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 36px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 215px;
}
@media only screen and (min-width: 768px) {
  .product-info {
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    max-width: none;
  }
}

@media only screen and (max-width: 325px) {
  .product-info {
    flex-wrap: wrap;
    margin-bottom: 14px;
    gap: 0;
  }
}

/*Стилізація розмітки кошика */

.cart-list {
  width: 100%;
  max-width: 100%;
}

.selectedProduct {
  display: flex;
  flex-direction: row;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}
.product-picture {
  border-radius: 10px;
  background-color: #fafafa;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  margin-right: 20px;
  padding: 24px;
}
.info-header {
  font-family: 'NeueMontreal-Medium';
  display: flex;
}
.product-name {
  color: var(--text-color);
  font-family: 'NeueMontreal-Medium';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
}
.delete-btn {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  fill: var(--text-color);
  background: transparent;
  border: none;
  position: absolute;
  top: 30px;
  right: 8px;
  padding: 0;
}

@media only screen and (min-width: 375px) {
  .product-info {
    font-family: 'NeueMontreal-Medium';
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 10px;
    margin-bottom: 36px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.info-quality {
  font-family: 'NeueMontreal-Medium';
  color: rgba(1, 1, 1, 0.3);
  font-size: 12px;
  line-height: 1.16;
  gap: 4px;
  padding: 2px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.info-quality-category {
  font-family: 'NeueMontreal-Medium';
  color: rgba(1, 1, 1, 0.3);
  font-size: 12px;
  line-height: 1.16;
  gap: 4px;
  padding: 2px 0;
}
.info-value {
  margin-left: 4px;
  font-family: 'NeueMontreal-Medium';
  color: var(--text-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
}
.price {
  font-family: 'NeueMontreal-Medium';
  color: var(--text-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

@media only screen and (min-width: 768px) {
  .product-picture {
    width: 120px;
    height: 120px;
    margin-right: 40px;
  }
  .product-name {
    margin-bottom: 12px;
  }
}

.selectedProduct:not(:last-child) {
  border-bottom: 1px solid rgba(1, 1, 1, 0.1);
  padding-bottom: 30px;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .selectedProduct:not(:last-child) {
    padding-bottom: 40px;
  }
}

/**
  |============================
  | Стилі карток товарів / кінець
  |============================
*/

/* .hiden {
  display: none;
} */